@use "./abstracts/variables" as *;
@use "./base/buttons";
@use "./custom-bootstrap";
@use "./base/global";
@use "./base/utilities";
@use "./base/typography";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  font-family: $font-family;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: $font-family;
}

/* Custom Soft Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba($slate-500, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($slate-500, 0.5);
}
