@use "@/styles/abstracts/variables" as *;

.commonModal {
  /* You can add default styles for all common modals here if needed */
}

.modalTitle {
  font-size: 18px;
  font-weight: 700;
  color: $text-heading;
  font-family: "Inter", sans-serif;
}
